body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #444;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    background-color: rgba(0, 0, 0, .5);
    font-family: 'Passion One', sans-serif;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
}

section {
    font-family: 'Noto Sans', serif;
    font-weight: bold;
    font-size: x-large;
}

div.token-name {
    font-family: 'Passion One', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    font-style: italic;
}

div.token-desc {
    font-family: 'Noto Sans', serif;
    font-weight: bold;
    font-size: large;
}

section.main-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 400px;
    background-position-x: center;
}

div#token-list {
    flex-direction: column !important;
}

section#menu1 {
    background-image: url("./images/1/bg_01.jpg");
}

section#menu2 {
    background-image: url("./images/2/bg.jpg");
}

section#menu3 {
    background-image: url("./images/3/bg_3tile.jpg");
}

section#menu4 {
    background-image: url("./images/4/bg_4.png");
    font-family: 'Passion One', serif;
    font-weight: 700;
    font-size: 1.8rem;
    font-style: italic;
    color: #583214;
    line-height: 1.0;
}

section#menu5 {
    background-image: url("./images/5/bg_tile_05.jpg");
}

.nav-link {
    --bs-nav-link-hover-color: #fff;
}

a.btn-menu1 {
    color: rgb(255, 244, 0);
}

li.menu1:hover {
    color: #fff;
}

li.menu1.active a.btn-menu1 {
    color: #fff;
    text-shadow:
        0 0 1rem #fff,
        0 0 1.3rem rgb(255, 244, 0);
}

li.menu1.active {
    border-bottom: 2px solid rgb(255, 244, 0);
    background-color: rgba(255, 255, 255, 0.1);
}

a.btn-menu2 {
    color: rgb(0, 165, 227);
}

li.menu2:hover {
    color: #fff;
}

li.menu2.active a.btn-menu2 {
    color: #fff;
    text-shadow:
        0 0 1rem #fff,
        0 0 1.3rem rgb(0, 165, 227);
}

li.menu2.active {
    border-bottom: 2px solid rgb(0, 165, 227);
    background-color: rgba(255, 255, 255, 0.1);
}

a.btn-menu3 {
    color: rgb(29, 206, 0);
}

li.menu3:hover {
    color: #fff;
}

li.menu3.active a.btn-menu3 {
    color: #fff;
    text-shadow:
        0 0 1rem #fff,
        0 0 1.3rem rgb(29, 206, 0);
}

li.menu3.active {
    border-bottom: 2px solid rgb(29, 206, 0);
    background-color: rgba(255, 255, 255, 0.1);
}

a.btn-menu4 {
    color: rgb(194, 38, 38);
}

li.menu4:hover {
    color: #fff;
}

li.menu4.active a.btn-menu4 {
    color: #fff;
    text-shadow:
        0 0 1rem #fff,
        0 0 1.3rem rgb(194, 38, 38);
}

li.menu4.active {
    border-bottom: 2px solid rgb(194, 38, 38);
    background-color: rgba(255, 255, 255, 0.1);
}

a.btn-menu5 {
    color: rgb(150, 0, 255);
    ;
}

li.menu5:hover {
    color: #fff;
}

li.menu5.active a.btn-menu5 {
    color: #fff;
    text-shadow:
        0 0 1rem #fff,
        0 0 1.3rem rgb(150, 0, 255);
}

li.menu5.active {
    border-bottom: 2px solid rgb(150, 0, 255);
    background-color: rgba(255, 255, 255, 0.1);
}

.token-el {
    background-color: rgba(0, 0, 0, .3);
    padding-top: 2em;
    padding-bottom: 2em;
}

.splide__pagination {
    bottom: -1.5em;
}

.splide__pagination__page {
    background-color: rgb(10, 70, 24);
    height: 12px;
    width: 12px;
    margin: 6px;
    opacity: 1.0;
}

.splide__pagination__page.is-active {
    background-image: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgb(82, 253, 0), 0 0 3px rgb(82, 253, 0) inset;
}

.body-name {
    font-family: 'Passion One', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    font-style: italic;
    color: #E1A956;
}

.body-desc {
    font-family: 'Noto Sans', serif;
    font-style: italic;
    font-size: large;
    color: #8A6AA1;
    line-height: 1.0;
}

.body-part {
    background-color: rgb(28, 28, 28);
    border: rgb(64, 61, 57) 3px solid;
    border-radius: .5em;
    margin-right: .2em;
}

.body-part img {
    width: 3.5rem;
}

.arms-label {
    line-height: 0.8;
    font-size: medium;
    font-weight: 700;
    background-color: rgb(150, 0, 255);
    color: #fff;
    transform: skewX(-10deg);
}

.menu5-title {
    font-family: 'Passion One', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #E1A956;
    font-size: 3.5em;
    line-height: 0.5;
}

.menu5-title-sub {
    font-family: 'Passion One', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: rgb(150, 0, 255);
    font-size: xx-large;
    line-height: 1.0;
}

.copyright {
    background-color: rgba(0, 0, 0, .5);
    font-family: 'Passion One', sans-serif;
    font-style: italic;
    color: #fff;
    font-size: x-large;
    line-height: 1.0;
    font-weight: 900;
    line-height: 1em;
}

@media screen and (min-width: 10px) {
    div#token-list {
        flex-direction: column !important;
    }

    .menu5-title {
        font-size: 1.5em;
    }

    .menu5-title-sub {
        font-size: small;
    }

    section#menu4 {
        min-height: 700px;
    }

    .plate-land {
        font-size: x-small;
        margin: 3rem 2rem 0 2rem;
    }

    .token-img {
        width: 3rem;
    }

    .menu1-images {
        height: 200px;
    }

    .menu1-btn {
        margin-top: 1em;
    }
}

@media screen and (min-width: 300px) {
    .plate-land {
        font-size: small;
        margin: 4rem 3rem 0 3rem;
    }
}

@media screen and (min-width: 350px) {
    .plate-land {
        font-size: large;
        margin: 4rem 3rem 0 3rem;
    }
}

@media screen and (min-width: 400px) {
    div#token-list {
        flex-direction: column !important;
    }

    .menu5-title {
        font-size: 2.0em;
    }

    .menu5-title-sub {
        font-size: medium;
    }

    section#menu4 {
        min-height: 700px;
    }

    .token-img {
        width: 5rem;
    }

    .menu1-images {
        height: 200px;
    }

    .menu1-btn {
        margin-top: 3em;
    }

}

@media screen and (min-width: 450px) {
    .plate-land {
        font-size: x-large;
        margin: 6rem 6rem 0 6rem;
    }
}

@media screen and (min-width: 576px) {
    div#token-list {
        flex-direction: column !important;
    }

    .menu5-title {
        font-size: 2.5em;
    }

    .menu5-title-sub {
        font-size: large;
    }

    section#menu4 {
        min-height: 700px;
    }

    .plate-land {
        margin: 5rem 5rem 0 5rem;
        font-size: xx-large;
    }

    .token-img {
        width: 5rem;
    }

    .menu1-images {
        height: 303px;
    }

    .menu1-btn {
        margin-top: 3em;
    }
}

@media screen and (min-width: 768px) {
    div#token-list {
        flex-direction: column !important;
    }

    .menu5-title {
        font-size: 2.5em;
    }

    .menu5-title-sub {
        font-size: large;
    }

    .plate-land {
        padding: 2rem 8rem 0 8rem;
        font-size: large;
    }

    .token-img {
        width: 5rem;
    }

    .menu1-images {
        height: 303px;
    }

    .menu1-btn {
        margin-top: 5em;
    }

    section#menu4 {
        min-height: 800px;
    }
}

@media screen and (min-width: 992px) {
    div#token-list {
        flex-direction: row !important;
    }

    .menu5-title {
        font-size: 3.3em;
    }

    .menu5-title-sub {
        font-size: x-large;
    }

    .plate-land {
        padding: 2rem 8rem 0 8rem;
        font-size: x-large;
    }

    .menu1-images {
        height: 303px;
    }

    .menu1-btn {
        margin-top: 14em;
    }

    section#menu4 {
        min-height: 800px;
    }
}

@media screen and (min-width: 1200px) {
    div#token-list {
        flex-direction: row !important;
    }

    .menu5-title {
        font-size: 3.5em;
    }

    .menu5-title-sub {
        font-size: xx-large;
    }

    .plate-land {
        padding: 3rem 12rem 0 12rem;
        font-size: xx-large;
    }

    .menu1-images {
        height: 303px;
    }

    .menu1-btn {
        margin-top: 15em;
    }
}

@media screen and (min-width: 1400px) {
    div#token-list {
        flex-direction: row !important;
    }

    .menu5-title {
        font-size: 3.5em;
    }

    .menu5-title-sub {
        font-size: xx-large;
    }

    .plate-land {
        padding: 2rem 12rem 0 12rem;
        font-size: xx-large;
    }

    .menu1-images {
        height: 303px;
    }

    .menu1-btn {
        margin-top: 15em;
    }
}

.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.list-group-item {
    --bs-list-group-bg: rgba(255, 255, 255, 0.0);
    --bs-list-group-border-width: 0px;
}